<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
    <meta charset="utf-8">
    <title>Gestion des &eacute;valuations </title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />    
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- ===================== Touch Icons ===================== -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../apple-touch-icon-57-precomposed.png">

    <!-- ===================== CSS ===================== -->    
    <link href='../http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>  
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap-responsive.min.css">    

    <!-- Site specific - CSS --> 
    <link rel="stylesheet" href="../css/theme_light/prettify.css">    
    <link rel="stylesheet" href="../css/theme_light/tables/dataTables.css">         
    <link rel='stylesheet' href='../css/theme_light/calendar/fullcalendar.css' />
    <link rel='stylesheet' href='../css/theme_light/calendar/fullcalendar.print.css' media='print' /> 
    <link rel="stylesheet" href="../css/theme_light/formselements/chosen.css">
    <link rel="stylesheet" href="../css/theme_light/formselements/dropkick.css">
    <link rel="stylesheet" href="../css/theme_light/jquery-ui-1.8.20.custom.css">        

    <!-- Common - CSS -->     
    <link rel="stylesheet" href="../css/theme_light/common.css">  
    <link rel="stylesheet" href="../css/theme_light.css" class="style_set">
    
    <!--[if lt IE 9]>
      <script src="../http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    
    <div id="loader_cont"><img src="../img/loaders/page_loader.gif"></div> 

      
      
    <div class="navbar navbar-fixed-top">
	<div style="display:inline-block;">
	 <img src="../img/logo2.png" height="170" width="160">
	  

	 <img src="../img/portal_baseline-ubo.png" height="200" width="225" style="margin-left:900px" >
	 
	
	 <img src="../img/bandeau.png"  style="margin-top:10px;"  height="100" width="1345">
	 
	</div>
         
	  <div class="navbar-innr">

<h3 style="margin-left:900px"><b><font color="#FFFFFF">Bonjour</font></b></h3
        <div class="container">

      <br>  <h1 ><center><font color="#FFFFFF">Gestion des &eacute;valuations</font> </center></h1>

        

          <h1 class="brand"><a href="../listeEval">Gestion des &eacute;valuations</a></h1>                                       

        </div>
      </div>
    </div>
<br>
<br>


        <div class="span3" style="clear:both;">

          <div class="side_nav sidebar-nav" data-spy="affix" data-offset-top="150">
            
            <h3 class="main_menu group">
                <span class="title">Main Menu</span>
                <a id="nav_list_btn" class="btn-collapse btn btn-inverse">
                  <span class="sweet-gray sweet-go-back-from-screen">&nbsp;</span>              
                </a>
            </h3>
            <ul class="nav nav-list">                          

              <li class="active"><a class="home" href="../listeEval">G&eacuterer mes &eacutevaluations </a></li>
			  <li class="active"><a class="home" href="../creerRubrique">G&eacuterer mes rubriques </a></li>
			  <li class="active"><a class="home" href="../creerQuestion">G&eacuterer mes questions </a></li>
			  <li class="active"><a class="home" href="../creerQualificatif">G&eacuterer mes qualificatifs </a></li>


            </ul>
           
           
            
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="row-fluid">
            <div class="span12">
              <div class="widget">
                  <header>
                      <h3>Liste des &eacute;valuations </h3>
                      <ul class="toggle_content">                         
                          <li class="arrow"><a href="#">Toggle Content</a></li>
                      </ul>
                  </header>
                  <section class="group">                         
                       <table id="example" class="display" >
                          <thead>
                              <tr>
                                  <th>Promotion</th>
                                  <th>Formation</th>
                                  <th>D&eacute;signation</th>
                                  <th>UE</th>
								  <th>Etat</th>
								  

                              </tr>
                          </thead>
                          <tbody>
						      {{#each listeEvaluations}}
                              <tr class="gradeX">
                                  <td>{{EVE_ANNEE_PRO}}</td>
                                  <td>{{FRM_CODE_FORMATION}}</td>
								  <td>{{EVE_DESIGNATION}}</td>
								  <td style="width:20%;">{{UE_CODE_UE}}</td>
								  <td>{{SIGNIFICATION}}</td>
								  <td class="center"><i class="icon-edit"/></td>
								  <td class="center"><i class="icon-remove"/></td>
							      <td class ="center"><a href="../listeRubriques/{{EVE_ID_EVALUATION}}"><i class="icon-search"/></a></td>
                              </tr>
                             {{/each}} 
                             
                          </tbody>
                      </table>                      
                  </section>
              </div> 

			<a href="../ajouterEval"><button class="btn">  <b>Ajouter &eacute;valuation</b>  </button></a>

			<br/>
			<br/>
			<div class="widget">
                  <header>
                      <h3>Liste des Rubriques </h3>
                      <ul class="toggle_content">                         
                          <li class="arrow"><a href="#">Toggle Content</a></li>
                      </ul>
                  </header>
                  <section class="group">                         
                       <table id="example" class="display" >
                          <thead>
                              <tr>
                                  <th>Ordre</th>
                                  <th>D&eacute;signation</th>
                                 
                              </tr>
                          </thead>
						  
                          <tbody>
						  {{#each listeRubriques}}
                              <tr class="gradeX">
                                  <td>{{REV_ORDRE}}</td>
                                  <td>{{REV_DESIGNATION}}</td>
                                  <td class="center"><i class="icon-remove"/></td>
								  <td class ="center"><a href="../listeQuestions/{{REV_ID_RUBRIQUE_EVALUATION}}"><i class="icon-search"/></a></td>
                              </tr>
                              
							{{/each}} 
                             
                          </tbody>
                      </table>                      
                  </section>
              </div> 	
 
            </div>    
			
		           <a href="../ajouterRubrique"><button class="btn"> <b>Ajouter rubrique</b>  </button></a>
			        
			<br/>
			<br/>
			<div class="widget">
                  <header>
                      <h3>Liste des questions </h3>
                      <ul class="toggle_content">                         
                          <li class="arrow"><a href="#">Toggle Content</a></li>
                      </ul>
                  </header>
                  <section class="group">                         
                       <table id="example" class="display" >
                          <thead>
                              <tr>
                                  <th>Ordre</th>
                                  <th>D&eacute;signation</th>
                                  <th>Qualificatif min</th>
                                  <th>Qualificatif max</th>
								 
                              </tr>
                          </thead>
                          <tbody>
                               {{#each listeQuestions}}
                              <tr class="gradeX">
                                  <td>ORDRE n'est pas encor pris en charge</td>
                                  <td>{{QUE_INTITULE}}</td>
								  <td>{{QUA_MINIMAL}}</td>
                                  <td>{{QUA_MAXIMAL}}</td>
                                  <td class="center"><i class="icon-remove"/></td>
								 </tr>
                              
							{{/each}} 
							  
                         </tbody>
                      </table>                      
                  </section>
              </div> 
			
			<a href="../ajouterQuestion"> <button class="btn"> <b> Ajouter question </b> </button></a>
			
			
			
          </div><!--/row-->
           
         
        </div><!--/span-->
		
		
		
		
      </div><!--/row-->      
      

      <footer>
       
      </footer>

    </div><!--/.fluid-container-->

     

    <!-- ===================== JS ===================== -->
    <script src="../js/libs/jquery-1.7.2.min.js"></script>    
    <script src="../js/libs/bootstrap.min.js"></script>   
    <script src="../js/libs/ios-orientationchange-fix.js"></script>          
    <script src="../js/libs/jquery-ui-1.8.20.custom.min.js"></script>
    <script src="../js/plugins/widgets/jquery.sparkline.min.js"></script>
    <script src="../js/common.js"></script>  

    <!-- Site specific --> 
    <script src="../js/libs/prettify.js"></script>      
    <script src="../js/plugins/charts/jquery.flot.min.js"></script>   
    <script src="../js/plugins/charts/jquery.flot.resize.min.js"></script>  
    <script src="../js/plugins/charts/jquery.flot.pie.min.js"></script>  
    <script src="../js/plugins/charts/jquery.flot.stack.min.js"></script>  
    <script src="../js/plugins/charts/jquery.flot.symbol.min.js"></script>            
    <!--[if lt IE 9]>      
          <script type="text/javascript" src="js/plugins/charts/excanvas.min.js"></script>
    <![endif]--> 
    <script src="../js/plugins/tables/jquery.dataTables.min.js"></script>
    <script src="../js/plugins/calendar/fullcalendar.min.js"></script>
    <script src="../js/plugins/formselements/chosen.jquery.min.js"></script> 
    <script src="../js/plugins/formselements/scrollability.min.js"></script> 
    <script src="../js/plugins/formselements/jquery.dropkick-1.0.0.js"></script> 

    <script src="../js/script.js"></script>
    <script src="../js/specific/sparks.js"></script>
    <script src="../js/specific/index.js"></script>
    
	<script>
	var source = "<h1>{{REV_ID_RUBRIQUE_EVALUATION}}</h1>";
	
	</script>
   
  </body>
</html>
